<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Minhas Compras</title>
    <link rel="stylesheet" href="/static/historico.css">
</head>
<body>
    <div class="container-largo">
        <h2>Histórico de Compras - {{ usuario }}</h2>
        
        {% if compras %}
            {% for c in compras %}
            <div class="item-pedido">
                <div>
                    <div class="nome">{{ c.nome_produto }}</div>
                    <div class="data">Comprado em: {{ c.data_pedido }}</div>
                </div>
                <div class="preco">R$ {{ "%.2f"|format(c.preco) }}</div>
            </div>
            {% endfor %}
        {% else %}
            <p>Você ainda não realizou nenhuma compra na nossa ótica.</p>
        {% endif %}
        
        <a href="/" class="btn">Voltar para a Loja</a>
    </div>
</body>
</html>