<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ótica E-commerce</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <div class="menu">
        {% if usuario %}
            <span>Olá, <b>{{ usuario }}</b>!</span>
            <a href="/historico">Minhas Compras</a>
            <a href="/carrinho">Meu Carrinho ({{ qtd_carrinho }})</a>
            <a href="/logout" class="link-sair">Sair</a>
        {% else %}
            <a href="/login">Fazer Login</a>
            <a href="/login">Meu Carrinho (0)</a>
        {% endif %}
    </div>

    <h1>Ótica Visão Clara</h1>

    <div class="vitrine">
        {% for p in produtos %}
        <div class="produto-card">
            <h3>{{ p.nome }}</h3>
            
            <img src="{{ p.imagem }}" alt="{{ p.nome }}" class="produto-img">
            
            <p class="preco">R$ {{ "%.2f"|format(p.preco) }}</p>
            <p class="estoque">Estoque: {{ p.estoque }} unidades</p>
            
            <form action="/adicionar" method="POST">
                <input type="hidden" name="id_produto" value="{{ p.cod_produto }}">
                <button type="submit" class="btn-comprar">Adicionar ao Carrinho</button>
            </form>
        </div>
        {% endfor %}
    </div>

</body>
</html>